body {
    width: 50%;
    margin: auto;
}
header {
    margin-top: 2rem;
}
table {
    margin: 5rem;
}

td {
    padding: 2rem;
    border: 2px solid black;
    display: inline-block;
    width: 55px;
    margin: 0.5rem;
    text-align: center;
}
.hidden {
    background-image: url("image.png");
}
.cell {
    background-color: red;
}