body {
    width: 60%;
    margin: auto;
}
header {
    margin-top: 2rem;
}
table {
    margin: 5rem;
}

tr {
    color: white;
}

td {
    padding: 2rem;
    border: 2px solid black;
    text-align: center;
}
.cell {
    background-color: red;
}
.hidden {
    background-color: black;
}